.App {
  text-align: center;
}

button {
  height:40px;
  min-width: 150px;
  margin: 20px;
  border-radius: 15px;
  background-color: rgb(241, 228, 167);
  border-width: 0px;
  font-size: 20px;
}

button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

button:disabled {
  background-color: rgb(223, 109, 109);
}

.subQuestion{
  color:rgb(136, 17, 17);
  font-size: 60px;
}

.question {
  color:coral;
  font-size: 80px;
}

.finalScore{
  font-size: 150px;
}

.next-prev {
  background-color: rgb(78, 136, 81);
}